<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/views/login/login.css">
    <base href="/views">

<body>
    
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                
            </div>
            <div class="avatar">
                <img src="/views/login/image/avatar.jpg" alt="Avatar">
            </div>
            <form id="loginForm">
                <div class="input-group">
                    <input type="email" id="email" placeholder="Email">
                </div>
                <div class="input-group">
                    <input type="password" id="password" placeholder="Password">
                </div>
                <div class="options">
                    <label>
                        <input type="checkbox">
                        Remember me
                    </label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit">LOGIN</button>
            </form>
        </div>
    </div>
    <script src="/views/login/login.js"></script>

</body>
</html>
